{% extends "base_chat.html" %}
{% load static %}
{% block head %}
<link href="{% static 'css/survey.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<center>
<div class="row1">
   <div class="col-sm-7" style="margin-top: 100px; margin-bottom: 300px; height: auto;">
        <div class="" style="height: 100%;">
            <div class="body">
                <ul id="chat-message-list">
                    <li class="chat-message">
                        <div class="message">안녕하세요! 추가 설문조사 챗봇입니다. 시작해 볼게요!</div>
                    </li>
                </ul>
            
                <div class="survey-chat col-sm-4" id="dream_survey">
                    <div>
                    최근에 꿈은 꾸시나요?
                    </div>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"악몽을 꿈\", \"postback\":\"1\"}", this, "dream_survey")'><span>악몽</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"일반적인 꿈\", \"postback\":\"2\"}", this, "dream_survey")'><span>일반적인 꿈</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"좋은 꿈\", \"postback\":\"3\"}", this, "dream_survey")'><span>좋은 꿈</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"꿈을 꾸지 않음\", \"postback\":\"4\"}", this, "dream_survey")'><span>꿈을 꾸지 않음</span></button>
                </div>

                <div class="survey-chat col-sm-6" id="caffeine_survey" style="margin-top: px;">
                    <div>
                    하루에 카페인을 많이 드시는 편인가요?
                    </div>
                    <br>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"아니요\", \"postback\":\"1\"}", this, "caffeine_survey")'><span>마시지 않음</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"보통\", \"postback\":\"1\"}", this, "caffeine_survey")'><span>보통</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"많이 마심\", \"postback\":\"2\"}", this, "caffeine_survey")'><span>많이 마심</span></button>
                </div>

                <div class="survey-chat col-sm-6" id="alcohol_survey" style="margin-top: px;">
                    <div>
                    하루에 술을 많이 드시는 편인가요?
                    </div>
                    <br>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"아니요\", \"postback\":\"0\"}", this, "alcohol_survey")'><span>마시지 않음</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"보통\", \"postback\":\"1\"}", this, "alcohol_survey")'><span>보통</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"많이 마심\", \"postback\":\"2\"}", this, "alcohol_survey")'><span>많이 마심</span></button>
                </div>

                <div class="survey-chat col-sm-6" id="talk_survey" style="margin-top: px;">
                    <div>
                    하루에 대화는 많이 하시는 편인가요?
                    </div>
                    <br>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"대화를 하지 않음\", \"postback\":\"0\"}", this, "talk_survey")'><span>대화를 하지 않음</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"소극적 대화\", \"postback\":\"1\"}", this, "talk_survey")'><span>소극적 대화</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"적당한 대화\", \"postback\":\"2\"}", this, "talk_survey")'><span>적당한 대화</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"적극적 대화\", \"postback\":\"3\"}", this, "talk_survey")'><span>적극적 대화</span></button>
                </div>
                
                <div class="survey-chat col-sm-6" id="personal_care_survey">
                    <div>
                    개인 정비(낮잠, 휴식, 쇼핑 등)을 자주 하는 편인가요?
                    </div>
                    <br>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"아니요\", \"postback\":\"0\"}", this, "personal_care_survey")'><span>아니요</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"네\", \"postback\":\"1\"}", this, "personal_care_survey")'><span>네</span></button>
                </div>
            
                <div class="survey-chat col-sm-6" id="work_survey">
                    <div>
                    일이나 공부로 많은 시간을 보내시나요?
                    </div>
                    <br>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"아니요\", \"postback\":\"0\"}", this, "work_survey")'><span>아니요</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"네\", \"postback\":\"1\"}", this, "work_survey")'><span>네</span></button>
                </div>

    
                <div class="survey-chat col-sm-6" id="home_survey">
                    <div>
                    집에 있는 시간이 긴 편인가요?
                    </div>
                    <br>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"아니요\", \"postback\":\"0\"}", this, "home_survey")'><span>아니요</span></button>
                    <button type="button" class="btn btn-success" onclick='onButtonClick("{\"type\": \"TEXT\", \"displayText\": \"네\", \"postback\":\"1\"}", this, "home_survey")'><span>네</span></button>
                </div>
                
            </div>
        </div>
    </div>
</div>
</center>
<script>
    var messageData = {};
    
    function onButtonClick(data, button, parentId) {
        var parsedData = JSON.parse(data);
        var messageText = parsedData.postback;
        var parentElementId = parentId;
        messageData[parentElementId] = messageText;
        console.log(messageData)
        var currentSurvey = button.closest('.survey-chat');
    
        var messageList = document.getElementById('chat-message-list');
        var newMessage = document.createElement('div');
        newMessage.classList.add('chat-message', 'me', 'animate__animated', 'animate__fadeInUp');
        newMessage.style.marginTop = '32px';
        newMessage.innerHTML = '<div class="message">' + parsedData.displayText + '</div>';
        currentSurvey.insertAdjacentElement('afterend', newMessage);
    
        // 애니메이션 끝난 후 다음 설문을 표시하는 로직
        newMessage.addEventListener('animationend', function() {
            showNextSurvey(currentSurvey, newMessage);
        });
    
        var buttons = button.parentElement.querySelectorAll('button');
        buttons.forEach(function(btn) {
            btn.disabled = true;
        });
    }
    
    function showNextSurvey(currentSurvey, newMessage) {
        var nextSurvey = currentSurvey.nextElementSibling;
        while (nextSurvey && !nextSurvey.classList.contains('survey-chat')) {
            nextSurvey = nextSurvey.nextElementSibling;
        }
        if (nextSurvey) {
            nextSurvey.style.display = 'block';
            nextSurvey.classList.add('animate__animated', 'animate__fadeInUp');
        } else {
            // 마지막 설문 이후의 행동 (감사 메시지 및 결과 페이지로 이동)
            showThankYouAndResultLink(newMessage);
        }
    }
    
    function showThankYouAndResultLink(newMessage) {
        // 감사 메시지 추가
        var thankYouMessage = document.createElement('div');
        thankYouMessage.classList.add('chat-message', 'animate__animated', 'animate__fadeInUp');
        thankYouMessage.innerHTML = '<div class="message">추가 질문에 답변해 주셔서 감사합니다!</div>';
        newMessage.insertAdjacentElement('afterend', thankYouMessage);
    
        // 결과 페이지로 이동하는 폼 생성
        var to_result_page = document.createElement('form');
        to_result_page.classList.add('chat-message');
        to_result_page.action = "{% url 'survey:plus_result' date=date %}";
        to_result_page.method = "post";
    
        var csrfTokenInput = document.createElement('input');
        csrfTokenInput.type = "hidden";
        csrfTokenInput.name = "csrfmiddlewaretoken";
        csrfTokenInput.value = "{{ csrf_token }}";
        to_result_page.appendChild(csrfTokenInput);
    
        var keys = Object.keys(messageData);
        keys.forEach(function(key) {
            var hiddenInput = document.createElement('input');
            hiddenInput.type = "hidden";
            hiddenInput.name = key;
            hiddenInput.value = messageData[key];
            to_result_page.appendChild(hiddenInput);
        });
    
        var linkElement = document.createElement('a');
        linkElement.href = "#";
        linkElement.textContent = "결과 페이지로 이동";
        linkElement.classList.add('animate__animated', 'animate__fadeInUp');
        linkElement.onclick = function() {
            to_result_page.submit();
            return false;
        };
        to_result_page.appendChild(linkElement);
    
        // 폼을 감사 메시지 뒤에 삽입
        thankYouMessage.insertAdjacentElement('afterend', to_result_page);
    }
    
    document.addEventListener("DOMContentLoaded", function() {
        var firstSurvey = document.getElementById('dream_survey');
        if (firstSurvey) {
            firstSurvey.style.display = 'block';
            firstSurvey.classList.add('animate__animated', 'animate__fadeInUp');
        }
    });
    </script>
    
    
{% endblock %}
