<script>
    const handlers= {
        chat_message_tag: null,
        retry: 0,
        username_set: new Set(),

        init() {
            this.chat_messages_tag = document.querySelector("#chat_messages");
            document.querySelector("#message_form")
                .addEventListener("submit", this.onsubmit.bind(this));
        },

        connect(ws_url) {
            if(this.ws) {this.ws.close(); }

            this.ws = new WebSocket(ws_url || this.ws?.url);

            this.ws.onopen = this.onopen.bind(this);
            this.ws.onclose = this.onclose.bind(this);
            this.ws.onerror = this.onerror.bind(this);
            this.ws.onmessage = this.onmessage.bind(this);
        },
        reconnect() {
            this.connect();
        },
        append_message(message, sender) {
            const element = document.createElement("div");
            element.className = "chat-message";
        }
    }
</script>