{% extends "base.html" %}
{% load static %}
{% block head%}
  <script src="{% static 'js/team.js' %}"></script>

  <style>
    main {
      margin-bottom: 100px; /* footer와의 간격을 위한 하단 마진 */
    }
    * {
      border: 0;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    :root {
      --hue: 223;
      --bg: hsl(var(--hue), 10%, 90%);
      --fg: hsl(var(--hue), 10%, 10%);
      --primary: hsl(var(--hue), 90%, 50%);
      --trans-dur: 0.3s;
      --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
    }
    a {
      color: var(--primary);
      transition: color var(--trans-dur);
    }
    body,
    button {
      color: var(--fg);
      font: 1em/1.5 "IBM Plex Sans", sans-serif;
    }
    
    h1 {
      font-size: 2em;
      margin: 0 0 3rem;
      padding-top: 1.5rem;
      text-align: center;
    }
    .btn {
      background-color: var(--fg);
      border-radius: 0.25em;
      color: var(--bg);
      cursor: pointer;
      padding: 0.375em 0.75em;
      transition: background-color calc(var(--trans-dur) / 2) linear,
        color var(--trans-dur);
      -webkit-tap-highlight-color: transparent;
    }
    .btn:hover {
      background-color: hsl(var(--hue), 10%, 50%);
    }
    .btn-group {
      display: flex;
      gap: 0.375em;
      margin-bottom: 1.5em;
    }

  </style>

{% endblock%}
{% block content %}
  <!-- 글 내용 -->
  <main>
    <div class="my-5">
      <div class="p-4 text-center bg-body-tertiary">
          <div class="container">
              <h1 class="text-body-emphasis ibm-plex-sans-kr-regular ">Final Project Team JamJOB-GO</h1>
              <p class="col-lg-8 mx-auto lead noto-sans-kr-main" style="color: #021931;">
                   2023.12.27 ~ 2024.06.24<br>
                   빅데이터를 활용한 AI챗봇&광학기술 개발자 과정<br>
                   코리아IT아카데미 신촌점 C class
              </p>
          </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container featurette-container ibm-plex-sans-kr-regular">
        <div class="row featurette">
            <div class="col-md-7">
                <center><h2 class="featurette-heading fw-normal lh-1"><strong>잠 JOB GO</strong></h2></center>
                <br />
                <center><h2><span class="text-body-secondary">We are</span></h2></center>
                <br />
                <center><p class="lead">수면과 관련있는 '잠'과 취업을 위한 '잡(Job)',<br>그리고 활동적인 느낌의 'GO'를 결합하여,<br>동적이고 에너지 넘치는 팀</p></center>
            </div>
            <div class="col-md-5">
              <img src="{% static 'media/image/jamjobgo.png' %}"  alt="Featurette Image" class="img-fluid mx-auto" width="500" height="500">
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="container featurette-container ibm-plex-sans-kr-regular">
      <div class="row featurette">
          <div class="col-md-5">
              <img src="{% static 'media/image/elogo.png' %}" alt="Featurette Image" class="img-fluid mx-auto" width="500" height="500">
          </div>
          <div class="col-md-7">
              <center><h2 class="featurette-heading fw-normal lh-1"><strong>Eunoianest</strong></h2></center>
              <br />
              <center><h2><span class="text-body-secondary">Eunoia는</span></h2></center>
              <br />
              <center><p class="lead">그리스어로 '아름다운 사고’ 라는 의미와 보금자리(Nest) 를 결합한 이름으로,<br>
                사용자의 정신 건강을 지원하고 긍정적인 생각을 촉진하여<br>안전하고 편안한 환경을 제공하는 챗봇을 상징</p></center>
          </div>
      </div>
    </div>
  </main>

  <script src="{% static 'js/team.js' %}"></script>
{% endblock %}