{% extends "base_chat.html" %}
{% load django_bootstrap5 %}

{% block extra-style %}
<style>
    .content {
        display: flex;
        flex-direction: column;  /* 내부 요소를 세로로 정렬 */
        align-items: center;  /* 가운데 정렬 */
        justify-content: center;  /* 상하 중앙 정렬 */
        width: 100%;  /* 너비를 100%로 설정 */
        margin: auto;  /* 자동으로 마진을 설정하여 중앙에 위치 */
    }
    .button-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;  /* 버튼 간의 간격 */
    }
    .btn-custom {
        width: 200px;  /* 원하는 너비로 설정 */
        height: 40px;  /* 원하는 높이로 설정 */
        font-size: 1rem;  /* 글꼴 크기 조정 */
    }
</style>
{% endblock %}

{% block content %}
<div class="content" style="margin-top: 230px; margin-bottom: 170px;">
    <h2 class="ibm-plex-sans-kr-regular">새 채팅방 만들기</h2>

    <div class="my-3" style="margin-top: 100px; margin-bottom: 50px;">
        <form action="" method="post" class="button-group">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="만들기" class="btn btn-success noto-sans-kr-main btn-custom" />
        </form>
    </div>

    <div class="button-group">
        <a href="{% url 'chat:index' %}" class="btn btn-success noto-sans-kr-main btn-custom">
            대기실로 이동
        </a>
    </div>
</div>
{% endblock %}
