{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Eunoianest</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&amp;display=swap'>
    <link href="{% static 'css/video.css' %}" rel="stylesheet">
    <style>
      .video a {
        display: block; /* 부모 앵커 태그를 블록 요소로 설정 */
        position: relative;
      }
      .video a video {
        display: block; /* 비디오 요소를 블록 요소로 설정 */
        width: 100%;
        height: auto;
      }
    </style>
  </head>

  <body>
      
    <!-- partial:index.partial.html -->
    <div class="wrapper">
      <input type="checkbox">
      <div class="video a video">
        <a href="{% url 'sleep:main' %}" id="video-link">
          <video src="../../media/video/aurora.mp4" loop muted autoplay playsinline id="video-element"></video>
        </a>
      </div>
      <div class="text">
        <span data-text="Let's go catch our dreams"></span>
      </div>
    </div>

    <script>
      document.getElementById('video-element').addEventListener('click', function() {
          document.getElementById('video-link').click();
      });
    </script>

  </body>
</html>
