{% extends "base_chat.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block head %}
{% endblock %}

{% block content %}
<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <br><br>
    </section>

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4" style="margin-top: 50px;">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'media/image/doctor1.jpg' %}" alt="" width="300" height="500">
                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-4" style="margin-top: 55px; margin-bottom: 80px;">
            <div class="portfolio-info">
              <h3>Eunoianest의 Doctor.A</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <p class="noto-sans-kr-main" style="text-align: justify;">
                밤마다 잠들기 힘드신가요? 병원에 가기 전, Eunoianest의<br>AI 닥터와 먼저 상담해보세요.
                편안한 환경에서 수면 문제를<br>이야기하며 초기 조언을 받고, 건강한 잠자리를 되찾으세요. </p>
            </div>

            <a href="{% url 'dr:drai' %}" class="btn btn-dark mt-3" style="width: 420px;">Dr.A와 상담하기</a>

          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% endblock %}