{% extends "base.html" %}
{% load static %}
{% block head %}
<link href="{% static 'css/team.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main id="main">
    <section class="inner-page">
        <div class="container-fluid">
            <div class="my-5">
                <div class="p-4 text-center" style="margin-top: 100px;">
                    <div class="container" style="color: #3f3f3f;">
                        <h1 class="ibm-plex-sans-kr-regular">Final Project Team JamJOB-GO</h1>
                        <p class="col-lg-8 mx-auto lead noto-sans-kr-main">
                                2023.12.27 ~ 2024.06.24<br>
                                빅데이터를 활용한 AI챗봇&광학기술 개발자 과정<br>
                                with. 코리아IT아카데미 신촌점 C class
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= About Section ======= -->
    <section class="section-about">
        <div class="container">
        <div class="row">
            <div class="col-sm-12 position-relative">
            <div class="about-img-box" style="margin-top: -100px;">
                <img src="{% static 'media/image/main2.png' %}" alt="" class="img-fluid">
            </div>

            <div class="sinse-box">
                <h3 class="sinse-title ibm-plex-sans-kr-regular" style="color:#ffffff">잠 JOB GO
                <span></span>
                <br> We are
                </h3>
                <p class="noto-sans-kr-main" style="color: #ffffff;">수면과 관련있는 '잠'과 취업을 위한 '잡(Job)',<br>그리고 활동적인 느낌의 'GO'를 결합하여,<br>동적이고 에너지 넘치는 팀</p>
            </div>
            </div>

            <div class="col-md-12 section-t8 position-relative">
            <div class="row">
                <div class="col-md-6 col-lg-5" style="margin-top: -100px; margin-bottom:-80px;">
                <img src="{% static 'media/image/elogo.png' %}" alt="" class="img-fluid">
                </div>
                <div class="col-lg-2  d-none d-lg-block position-relative" style="margin-top: 30px;">
                <div class="title-vertical d-flex justify-content-start">
                    <span class="ibm-plex-sans-kr-regular">Beautiful Thinking, Good Sleep</span>
                </div>
                </div>
                <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d" style="margin-top:-20px;">
                    <h3 class="title-d ibm-plex-sans-kr-regular">Eunoia
                    <span class="color-d ibm-plex-sans-kr-regular" style="color:#3f3f3f">nest</span>
                    <br> <p  style="color:#009970;">"Eunoia"는</p>
                    </h3>
                </div>
                <p class="color-text-a noto-sans-kr-main" style="margin-top: 30px;" >
                    　그리스어로 '아름다운 사고’ 라는 의미와 보금자리(Nest) 를 결합한<br>
                    이름으로, 사용자의 정신 건강을 지원하고 긍정적인 생각을 촉진하여<br>
                    안전하고 편안한 환경을 제공하는 챗봇을 상징합니다.<br>
                    <br>
                    　즐거운 대화와 가벼운 질의응답을 사용자인 '꿈나비'들이 이용하고, <br> 
                    나아가 '수면장애'라는 무거운 느낌을 벗어던지고, 가벼운 느낌을<br>
                    주어 의학의 도움을 받는 것을 더욱 쉽게 접근하기 바라는 마음을 <br>
                    가진 프로젝트 입니다.
                </p>
                </div>
            </div>
            <br>
            <br>
            <div class="container-fluid" style="background-color: #e6e6e6 !important;">
                <div class="my-5">
                    <div class="p-4 text-center" style="margin-top: 100px;">
                        <div class="container" style="color: #3f3f3f;">
                            <h1 class="ibm-plex-sans-kr-regular">With. The other Project Team</h1>
                            <p class="col-lg-8 mx-auto lead noto-sans-kr-main">
                                    2023.12.27 ~ 2024.06.24<br>
                                    빅데이터를 활용한 AI챗봇&광학기술 개발자 과정<br>
                                    with. 코리아IT아카데미 신촌점 C class
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 section-t8 position-relative">
                <div class="row">
                    <div class="col-md-6 col-lg-5 section-md-t3">
                        <div class="title-box-d" style="margin-top:30px;">
                            <h3 class="title-d ibm-plex-sans-kr-regular">Gen
                            <span class="color-d ibm-plex-sans-kr-regular" style="color:#3f3f3f">Z</span>
                            <br> <p  style="color:#009970;">"Gen Z" 는</p>
                            </h3>
                        </div>
                        <p class="color-text-a noto-sans-kr-main" style="margin-top: 30px;" >
                            미국 공용 수어 ASL  동작을 텍스트로 번역하는 프로그램으로<br>
                            유아부터 어린이들에게 도움되는 ‘ 수화 교육 프로그램 ’
                        </p>
                        <p>GenZ's Site = <a href="https://www.wowbabysign.site/">wowbabysign.site</a></p>
                    </div>
                    <div class="col-lg-2  d-none d-lg-block position-relative" style="margin-top: 30px;">
                        <div class="title-vertical d-flex justify-content-start" style="transform: rotate(90deg);">
                            <span class="ibm-plex-sans-kr-regular">American Sign Language</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5" style="margin-top: -100px; margin-bottom:-80px;">
                    <img src="{% static 'media/image/GenG.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <hr>
            <div class="col-md-12 section-t8 position-relative">
                <div class="row">
                    <div class="col-md-6 col-lg-5" style="margin-top: -100px; margin-bottom:-80px;">
                    <img src="{% static 'media/image/Fashion_team.png' %}" alt="" style="display: flex; justify-content: center; align-items: center; height: 30vh;" class="img-fluid">
                    </div>
                    <div class="col-lg-2  d-none d-lg-block position-relative" style="margin-top: 30px;">
                    <div class="title-vertical d-flex justify-content-start">
                        <span class="ibm-plex-sans-kr-regular">Passion Makes Fashion</span>
                    </div>
                    </div>
                    <div class="col-md-6 col-lg-5 section-md-t3">
                    <div class="title-box-d" style="margin-top:-20px;">
                        <h3 class="title-d ibm-plex-sans-kr-regular">PMK
                        <br> <p  style="color:#009970;">PMK은</p>
                        </h3>
                    </div>
                    <p class="color-text-a noto-sans-kr-main" style="margin-top: 30px;" >
                        이미지 기반 검색 기능으로 유사한 스타일을 제안하고, <br>
                        고객이 좋아할만한 비슷한 아이템을 알려주고,<br>
                        최상의 쇼핑 경험을 제공하는 것이 우리의 목표입니다.
                    </p>
                    </div>
                </div>
                <br>
                <br>
                <hr>
                <div class="col-md-12 section-t8 position-relative">
                    <div class="row">
                        <div class="col-md-6 col-lg-5 section-md-t3">
                            <div class="title-box-d" style="margin-top:30px;">
                                <h3 class="title-d ibm-plex-sans-kr-regular">Ten
                                <span class="color-d ibm-plex-sans-kr-regular" style="color:#3f3f3f">Circle</span>
                                <br> <p  style="color:#009970;">Ten Circle 은</p>
                                </h3>
                            </div>
                            <p class="color-text-a noto-sans-kr-main" style="margin-top: 30px;" >
                                대기질 정보를 쉽게 확인하고 대응할 수 있도록 도울 것이라 생각하고 있으며,<br>
                                목표는 누구나 공기 질을 쉽게 이해하고,<br>
                                건강을 보호할 수 있는 도구를 제공하는 것입니다.
                            </p>
                        </div>
                        <div class="col-lg-2  d-none d-lg-block position-relative" style="margin-top: 30px;">
                            <div class="title-vertical d-flex justify-content-start" style="transform: rotate(90deg);">
                                <span class="ibm-plex-sans-kr-regular">I am fine thank you, and you</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5" style="margin-top: -100px; margin-bottom:-80px;">
                        <img src="{% static 'media/image/ten_circle.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}
