{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
  <br><br>
</section>
<div class="card" style="margin-top: -10px;">
  <div class="firstinfo"><img src="{% static 'media/image/cat3.jpg' %}"/>
    <div class="profileinfo" style="margin-top: 15px;">
      <h1>{{ user }}의 프로필</h1>
      <p class="bio">Last login: {{ user.last_login }}</p>
      <center><a href="{% url 'survey:result' %}" class="login-button btn btn-primary me-3">진단 결과</a>
      <a href="{% url 'dr:list' %}" class="btn btn-primary">Dr.Eunoia 대화</a></center>
    </div>
  </div>
</div>

<svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" style="margin-top: 230px;">
  <defs>
    <path id="gentle-wave" d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
  </defs>
  <g class="parallax">
    <use xlink:href="#gentle-wave" x="50" y="0" fill="#a2ebe8" />
    <use xlink:href="#gentle-wave" x="50" y="3" fill="#8dd6d4" />
    <use xlink:href="#gentle-wave" x="50" y="6" fill="#79C7C5" />
  </g>
</svg>
<div class="content">
</div>

<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
{% endblock %}
